body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(180, 9%, 96%);
}

h1{
    color: aqua;
}

form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 1%, 0.348);
} 
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgba(0, 0, 0, 0.795);
    border-radius: 5px;
    margin-bottom: 15px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: hsl(0, 89%, 56%);
    color: white;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: hsl(3, 90%, 44%);
}

#result{
    font-size: 1.75em;
    font-weight: bold;
}